body{
    padding: 10px;
}
h1{
    text-align:center;
    font-size: 2rem;
    font-weight: bold;
}

.dados-pessoais{
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.dados-pessoais img{
    height: 160px;
    width: 240px;
}
#dados{
    margin-left: 40px;
    list-style-type: disc; 
}
table,tr,td,th{
    padding: 5px;
    border: 1px solid gray;
    margin-bottom: 30px;
    margin-top: 30px;
}
th{
    background-color: #ddd;
}

